:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --special-text-color: #4d5ae5;
  --white-color: #ffffff;
  --section-color: #e5e5e5;
  --portfolio-button-color: #f4f4fd;
  --bg-button-color: #404bbf;
  --footer-text-color: #e7e9fc;
  --footer-background-color: #2e2f42;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);

  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
} */

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  
  

}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*===================================header=========================================*/

.header-container {
 
 align-items: center;
  padding-top: 24px;
   padding-bottom: 24px;
}

.logo {
  display: flex;
  align-items: center;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.33;

  text-decoration: none;
  text-transform: uppercase;
}

.logo-first-part {
  color: var(--special-text-color);
}

.logo-second-type {
  color: var(--primary-text-color);
}

.logo:hover {
  color: var(--special-text-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), 
  visibility var(--transition-dur-and-func);
  
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  }
  
  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  
  .mobile-menu-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  
    background-color: var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
  
    transition: background-color var(--transition-dur-and-func);
  }
  
  .mobile-menu-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
  }
  
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: var(--bg-button-color);
  }
  
  .mobile-menu-close-btn:hover .mobile-menu-close-btn-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-btn-icon {
    fill: var(--white-color);
  }
  
  .mobile-menu-nav-list{
    
  }
  .mobile-menu-nav-item {
  
    font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--footer-background-color);
  
  }
  
  .contact {
    color: var(--special-text-color);
  }
  
  .mobile-menu-nav-item:not( :last-child ) {
    padding-bottom: 40px;
  }
  
  .mobile-menu-nav-item:hover,
  .mobile-menu-nav-item:focus {
    color:  #404BBF;
    
  }
  
  .mobile-menu-auth-tel {
    margin-top: 284px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: var(--special-text-color);
  }
  
  .mobile-menu-auth-email {
    margin-bottom: 48px;
    font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #434455;
  }
  
  .mobile-menu-media-list {
    display: flex;
    gap: 56px;
  }
  
  .mobile-menu-media-item {
    width: 40px;
    height: 40px;
    background-color: var(--special-text-color);
    border-radius: 50%;
  
    transition: background-color var(--transition-dur-and-func);
  }
  
  
  .mobile-menu-media-icon {
    margin: 8px 8px;
    fill: var(--portfolio-button-color);
  }
  
  .mobile-menu-media-link {
    display: flex;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
   
    align-items: center;
  
    transition: background-color var(--transition-dur-and-func);
  }
  
  .mobile-menu-media-link:hover,
  .mobile-menu-media-link:focus {
    background-color: #31d0aa;
  }
  
  .header-container {
    display: flex;
   justify-content: space-between;
   
  }
  
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    /* line-height: 0; */
  }
}





/* TABLET */
@media screen  and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  
  .auth-nav {
    display: none;
  }

  
}
@media screen and (min-width:768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }
  .header-container {
    justify-content: space-between;
  }
  header .container {
    display: flex;
    /* justify-content: space-between; */
  }
  .logo {

  margin-right: 123px;
  }
  .header-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    gap: 40px;
  }
  
  .link {
    position: relative;
  
    display: flex;
    
  
    transition: var(--transition-dur-and-func);
  }
  
  .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--bg-button-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
    top: calc(24px + 24px - 4px);
  }
  
  .current {
    color: var(--bg-button-color);
  }
  
  .current:hover,
  .current:focus {
    color: var(--bg-button-color);
  }
  
  .site-nav {
    color: var(--primary-text-color);
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  
    transition: color var(--transition-dur-and-func);
  }
  
  .site-nav:focus,
  .site-nav:hover {
    color: var(--secondary-text-color);
  }
  
  
  .auth-nav {
  
    /* margin-left: 118px; */
    gap: 40px;
    
  }
  
  .auth-nav a {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
  
    transition: color var(--transition-dur-and-func);
  }
  
  .auth-nav a:hover,
  .auth-nav a:focus {
    color: var(--special-text-color);
  }
}

/*DESKTOP*/

@media screen and (min-width:1200px) {
  .logo {
    margin-right: 77px;
  }

  .auth-nav {
    display: flex;
    margin-left: 331px;
  }
}



/*==================================hero============*/

.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/peopleofficemin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto;
  text-align: center;

  color: var(--white-color);
  
}

.button-hero {
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--special-text-color);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;

  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--bg-button-color);
  color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} 


/*MOBILE*/

@media screen and (max-width: 767px) {
  
  .hero-section {
  padding-top: 112px;
  padding-bottom: 112px;
  }
  
  .hero-title {
    max-width: 318px;
    font-weight: 700;
font-size: 36px;
line-height: 40px;



  }
.button-hero {
  margin-top: 40px;
}

}

/* TABLET */
  
@media screen and (min-width:768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 108px;
      }
    
    .hero-title {
      max-width: 494px;
      font-weight: 700;
      font-size: 56px;
      line-height: 60px;
    }
  .button-hero {
    margin-top: 48px;
  }
  
}

/*DESKTOP*/

@media screen and (min-width:1200px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
      margin: 0 auto;}
    
    .hero-title {
      max-width: 494px;
      font-weight: 700;
      font-size: 56px;
      line-height: 60px;
    }
  .button-hero {
    margin-top: 77px;
  }
  
}

/*IMAGE X2*/

@media screen and (min-device-pixel-radio:2), screen and (min-resolution: 192dpi), screen and (min-resolulion: 2dppx) { 
  .hero-section {
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../img/darkbgx2min.jpg);
  }
  
}



/*======================section about company===========*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;}

  .feature-title {
    color: var(--primary-text-color);
   
  }

  .box-svg {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: var(--portfolio-button-color);
  }
  

  /*MOBILE*/
  @media screen and (max-width: 1199px) {
    .box-svg{
      display: none;
    }
    .section-company {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    .feature-title {
      margin-bottom: 8px;
    
      
      font-weight: 700;
  font-size: 36px;
  line-height: 1.1;}

  }

@media screen and (max-width: 767px) {
  


  .feature-title {
    
text-align: center;
  }
  
  .feature-text {
    
    text-align: center;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
}
/* TABLET */
  
@media screen and (min-width:768px) {

  .feature-text {
    width: 356px;
  }

  .feature-list-t {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0;
  }
.feature-item-t {
  flex-basis:calc((100%-24px) / 2);
}

/* .feature-item:nth-child(2n+1) {
  margin-right:24px

} */
}
/*DESKTOP*/

@media screen and (min-width:1200px) {
  .company-section {
    padding: 0 0 120px 0;
  }
  
  .feature-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .feature-title {
    margin-bottom: 8px;
  
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }
  
  .feature-text {
    width: 264px;}
}


/* 


.company-section {
  padding: 0 0 120px 0;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.box-svg {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--portfolio-button-color);
}

.icon-feature {
}

.feature-title {
  margin-bottom: 8px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.feature-text {
  width: 264px;
} */

/*=====================work====================*/

.secondary-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  margin-bottom: 72px;
}

.main-list {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1199px) {
  .secondary-title {
    display: none;
  }

  .main-list {
    display: none;
  }

  .company-section {
    display: none;
  }
}

/*=============================our team=========*/
.feature-section {
  background-color: var(--portfolio-button-color);
}

.secondary-title-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  margin-bottom: 72px;
}

.team-item {
  text-align: center;
  background-color: var(--white-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}



/*
.main-list-team {
  display: flex;
  gap: 24px;
}


.team-title {
}



.team {
  margin-top: 32px;
}

.team-text {
  margin-bottom: 12px;
}

.social-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 36px;
}

.social-team-item {
  width: 40px;
  height: 40px;
  background-color: var(--special-text-color);
  border-radius: 50%;

  transition: background-color var(--transition-dur-and-func);
}

.social-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social-team-link:hover .social-team-item,
.social-team-link:focus .social-team-item {
  background-color: var(--special-text-color);
}

.social-team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--portfolio-button-color);
}

.title-costumers {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 72px;
}

.costumers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.costumers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
}

.icon-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border var(--transition-dur-and-func);
}

.costumers-icon {
  fill: #8e8f99;
  transition: fill var(--transition-dur-and-func);
}
.icon-a:hover .costumers-icon,
.icon-a:focus .costumers-icon {
  fill: var(--special-text-color);
}

.icon-a:focus,
.icon-a:hover {
  border: 1px solid var(--special-text-color);
} */
/*=========footer==================*/

/* .footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--footer-background-color);
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-footer {
  margin-bottom: 16px;

  display: inline-block;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.33;

  text-decoration: none;
  text-transform: uppercase;
}

.logo-second-type-footer {
  color: var(--portfolio-button-color);
}

.text-footer {
  max-width: 264px;

  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer .container {
  display: flex;
}
.container-media {
  display: inline-block;
  margin-left: 120px;
}

.media-title {
  margin-bottom: 16px;

  display: inline-flex;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

.footer-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-media-icon {
  margin: 8px 8px;
  fill: var(--portfolio-button-color);
}

.footer-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-dur-and-func);
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  align-items: baseline;
}

.footer-form-con {
  
  margin-left: 80px;
}

.footer-form {
  display: flex;
}


.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  
  margin-bottom: 16px;
}

.footer-form-input {
  display: flex;
  width: 269px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding-left: 16px;
color: var(--white-color);

transition: border-color var(--transition-dur-and-func);

}


.footer-form-input:focus {
    outline: none;
    border-color: var(--special-text-color);
  }
.footer-form-input::placeholder {
    font-weight: 400;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.04em;

color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    margin-left: 24px;
    background: #4D5AE5;
border-radius: 4px;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: var(--white-color);
transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--bg-button-color);
  color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.footer-form-icon {
    margin-left: 16px;
} */
/*---------------PORTFOLIO----------------*/
/* .portfolio {
}

.main-section {
  padding: 96px 0 120px 0;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  color: var(--special-text-color);
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--portfolio-button-color);

  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--special-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}

.list-item {
  flex-basis: calc((100% / - 24px) / 3);

  transition: box-shadow var(--transition-dur-and-func);
}

.portfolio-text {
  margin-top: 8px;

  color: var(--secondary-text-color);
}

.portfolio-header {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.box {
  padding: 32px 16px;

  width: 360px;
  border-left: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.list-item:hover,
.list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-link {
  display: block;
}

.overlay-text {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: var(--special-text-color);
  overflow: hidden;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-button-color);
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translate(0);
} */

/*================modal window======================*/

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--bg-button-color);
}

.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
  fill: var(--white-color);
} */

/*==========================modal form================================*/
/* .modal-form-title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: #2e2f42;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  margin-bottom: 8px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--special-text-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--special-text-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy:checked + .modal-form-policy-check::before {
  background-color: #404bbf;
  border: 1.25px solid #404bbf;
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-policy:focus + .modal-form-policy-check::before {
  border: 1.25px solid #2e2f42;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--special-text-color);
}

.modal-form-policy-check::before {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-policy-check {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 24px;
}

.modal-form-policy-link {
  color: var(--special-text-color);
  text-decoration: underline;
}

.modal-form-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
  display: block;
  margin: 0 auto;
  border: none;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--bg-button-color);
  color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */
